* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  inset: 0;
  background-color: black;
}

#controls {
  position: absolute;
  bottom: 0;
  right: 0;

  color: white;
}
#controls input {
  background-color: black;
}
