:root {
  --offwhite: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Recursive', sans-serif;
  overflow: hidden;
}

#canvas {
  position: absolute;
  inset: 0;
  background-color: black;
}

#controls {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--offwhite);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background-color: black;
  color: var(--offwhite);
}
#controls h3 {
  margin-bottom: 0.6rem;
  text-decoration: underline;
  align-self: center;
}
#controls label {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
}
#controls input {
  width: 8rem;
  margin-left: 1rem;
  padding: 0.2rem;

  color: var(--offwhite);
  background-color: black;
}
#controls #actions {
  margin-top: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
#controls button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;
}
#controls #attribution {
  margin-top: 1.2rem;
  text-align: center;
}
#controls #attribution a {
  text-decoration: underline;
  color: #60a5fa;
}
#controls #attribution a:hover {
  color: #93c5fd;
}
#controls #attribution .heart {
  color: #dc2626;
}

/* Controls toggle */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button#controls-show {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
button#controls-hide {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}
button#controls-show[aria-expanded='true'] {
  visibility: hidden;
}
button#controls-show[aria-expanded='false'] + #controls {
  background-color: red;
  visibility: hidden;
}
